<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recipe Repository</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
  <!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" /> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <%- include ("header.ejs") %>
    <main>
        <div class="content large">
            <div class="outline">
                <h2>Add Recipe to Repository</h2>
       <label>Title:</label><br>
       <input id="title" Placeholder="Recipe Title"><br>
       <label>Ingredients</label><br>
       <textarea id="ingredients" class="ingredients-input" placeholder="Ingredients go here..."></textarea><br>
       <label>Directions</label><br>
       <textarea id="directions" class="directions-input" placeholder="Directions go here..."></textarea><br>
       <button id="saveRecipe">Add Recipe</button>
       </div>
</div>
  </main>
<script src="js/addRecipe.js">
    

</script>
</body>
</html>